In [ ]:
1.4 + 1.6 + 1.2

4.2

In [ ]:
1.4 + 1.2 + 1.6

4.199999999999999

In [ ]:
1.4 + 1.2

2.5999999999999996

TypeError: ignored

In [ ]:
board = [['_'] * 3] * 3

In [ ]:
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [ ]:
board[2][1] = 'O'

In [ ]:
board

[['_', 'O', '_'], ['_', 'O', '_'], ['_', 'O', '_']]

In [ ]:
row = ['_'] * 3

In [ ]:
row

['_', '_', '_']

In [ ]:
board = [row, row, row]

In [ ]:
print(id(board[0]))
print(id(board[1]))
print(id(board[2]))

140599055016320
140599055016320
140599055016320

In [ ]:
a = [1, 2, 3, 4]
b = a

a[0] = 100

print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [ ]:
a = ['_'] * 3

In [ ]:
a[0] = 'X'

In [ ]:
a = {
    5: "ruby",
     5.0: "python",
     5 + 0j: "scaler"
}

In [ ]:
print(len(a))

1

In [ ]:
hash(5 + 0j)

5

In [ ]:
a

{5: 'scaler'}

In [ ]:
a = {
    (1, 2, 3): "something"
}

In [ ]:
hash((1, 2, 3, 4))

590899387183067792

In [ ]:
a = {
    [1, 2, 3]: "something"
}

TypeError: ignored

```
Question 1 - 
1. Take a string as input.
2. Convert the string to lower case without using any inbuilt function to do the same.
```

In [ ]:
s = input()
res = ""

for char in s:
  if 65 <= ord(char) <= 90:
    res += chr(ord(char) + 32)
  else:
    res += char

print(res)

knock knock P3nny
knock knock p3nny

In [ ]:
ord("A")

65

In [ ]:
ord("Z")

90

In [ ]:
ord("a")

97

```
Question 2 -
How I can I merge two dictionaries in python?

d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}

result = {"a": 1, "b": 3, "c": 4}
```

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}

In [ ]:
{**d1, **d2}

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
a = 5
b = 9

a, b = b, a

In [ ]:
x = (1, 2, 3, 4)

In [ ]:
a, b, c, d = x

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
def foo(a, b, c):
  print(a)
  print(b)
  print(c)

In [ ]:
foo(1, 2, 3)

1
2
3

In [ ]:
a = [1, 2, 3]

foo(*a)

1
2
3

In [ ]:
a = {"a": 1, "b": 2, "c": 3}

foo(**a)

1
2
3

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}

{
    **d2,
    **d1,
}

{'b': 2, 'c': 4, 'a': 1}

```
Question 3 - 
Can you tell the output of the following python code?

a = -(100 % 30) // 3
print(a)
```

In [ ]:
a = -(100 % 30) // 3
print(a)

-4

#### Formula for modulo operator

```
a % b = a - (b * (a // b))
```

In [ ]:
-11 % 2

1

In [ ]:
5 // 2

2

```
Question 4 -
Write a function to flatten a nested list in python.

INPUT - [1,2,3,[4,5],[[[[[5,6,7],[8,9,0]]]]]]
OUTPUT - [1,2,3,4,5,5,6,7,8,9,0]
```

In [ ]:
def flatten(arr):
  res = []
  for x in arr:
    if isinstance(x, list):
      res += flatten(x)
    else:
      res.append(x)
  return res

In [ ]:
flatten([1,2,3,[4,5],[[[[[5,6,7],[8,9,0]]]]]])

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 0]

```
Question 5 -
Can you shed some light on whether the following python code is correct or not?

def foo(a, b = 6, c, d):
    return a + b + c + d
```

In [ ]:
def foo(a, c, d, b = 6):
    return a + b + c + d

In [ ]:
foo(1, 1, 1)

9

In [ ]:
# a -> required positional formal argument
# b -> default positional
# args -> packed extra positional argument
# c -> required keyword-only formal argument
# d -> default keyword-only
# kwargs -> packed extra keyworded arguments
def foo(a, b = 6, *args, c, d = 10, **kwargs):
  print("a", "=>", a)
  print("b", "=>", b)
  print("args", "=>", args)
  print("c", "=>", c)
  print("d", "=>", d)
  print("kwargs", "=>", kwargs)

In [ ]:
foo(100, 200, 300, 400, 500, c = 10, d = 90, name = "jatin")

a => 100
b => 200
args => (300, 400, 500)
c => 10
d => 90
kwargs => {'name': 'jatin'}

Libraries
1. Web Backend -> Flask, FastAPI, Django
2. ORMs -> SQLAlchemy
3. Crawling or Scraping -> Scrapy, BeuatifulSoup
4. Data -> Numpy, pandas
5. Common -> requests, abc

```
Question 6 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the list

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
```

In [ ]:
s = input()
frequency_map = {}

for char in s:
  frequency_map[char] = frequency_map.get(char, 0) + 1

rrsssstttt

In [ ]:
frequency_map

{'r': 2, 's': 4, 't': 4}

```
Question 7 - 
Take a string as input.
Print the number of unique characters present in that string.

abcccdd -> 4
```

```
Question 8 - 
1. You will receive a string as input.
2. Ascertain whethet that string contains a binary number or not.

"0011010101ab" - "Not Binary!"
"01010101010101" - "Binary!"
```

```
Question 9 - 
Print the multiplication table of all numbers from 1-N (user input)
using one line of python.
```

```
Question 10 - 
Write a function to merge two sorted lists in sorted order -
a = [2,4,6,8,9]
b = [1,3,5,9]
RESULT = [1,2,3,4,5,6,8,9,9]

NO INTERNAL SORTING FUNCTIONS CAN BE USED. :)
```